div.post-page div.img {
    max-height: 200px;
    overflow: hidden;
    display: flex;
    margin-bottom: 20px;
}

div.post-page div.img img {
    object-fit: cover;
    width: 100%;
    object-position: center center;
}

div.post-page a {
    color: #666666;
    text-decoration: underline;
}

div.post-page h1 {
    text-align: center;
    margin: 10px 0 5px;
}

div.post-page time {
    text-align: center;
    display: block;
    font-size: .8rem;
    color: #aaa;
}

div.post-page div.author {
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.8rem;
    font-weight: bold;
}

div.post-page p {
    margin: 0;
}

div.post-page div.content p {
    line-height: 1.6rem;
}

div.edit-container {
    text-align: center;
    margin-bottom: 20px;
}

div.edit-container a.edit {
    background-color: #333;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 5px;
}